<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="dark-mode-toggle.js"></script>
</head>
<body>
    <button id="dark-toggle">🌞</button>
    
    <div></div>

    

    
        <h2> Lives </h2>
        <div class="cards-container">
            
                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Cashless </span>
        </div>
        <img src="images/lives/cashless-1.png" class="life-image">
        <div class="card-footer">"Big money... No whammies..."
~ Lucky Luke</div>
    </div>

                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Cashless </span>
        </div>
        <img src="images/lives/cashless-2.png" class="life-image">
        <div class="card-footer">"Broke is just a state of wallet, not a state of mind."
~ Sylvia the Scrounger</div>
    </div>

                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Cashless </span>
        </div>
        <img src="images/lives/cashless-3.png" class="life-image">
        <div class="card-footer">"Lost my fortune, but never my freedom!"</div>
    </div>

                
            
                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Faithful </span>
        </div>
        <img src="images/lives/faithful-1.png" class="life-image">
        <div class="card-footer">"Our bond is our strength; where one goes, the others follow."
~Sister Serene</div>
    </div>

                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Faithful </span>
        </div>
        <img src="images/lives/faithful-2.png" class="life-image">
        <div class="card-footer">"True belief isn't seen in the light—it's felt in the darkness among the lions."
~ Cassandra the Convicted</div>
    </div>

                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Faithful </span>
        </div>
        <img src="images/lives/faithful-3.png" class="life-image">
        <div class="card-footer">"Don't walk the tightrope. Dance it."</div>
    </div>

                
            
                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Forgotten </span>
        </div>
        <img src="images/lives/forgotten-1.png" class="life-image">
        <div class="card-footer">"The real master is never in the limelight. Always the shadows."
~ M.C. Echo</div>
    </div>

                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Forgotten </span>
        </div>
        <img src="images/lives/forgotten-2.png" class="life-image">
        <div class="card-footer">"Dusty books hold legends."
~ Misty-eyed Mira</div>
    </div>

                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Forgotten </span>
        </div>
        <img src="images/lives/forgotten-3.png" class="life-image">
        <div class="card-footer">"There's always a sharp end to the applause."</div>
    </div>

                
            
                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Lost </span>
        </div>
        <img src="images/lives/lost-1.png" class="life-image">
        <div class="card-footer">"'Losing your way' is the first step to... Something!"
~Willy Wayward</div>
    </div>

                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Lost </span>
        </div>
        <img src="images/lives/lost-2.png" class="life-image">
        <div class="card-footer">"Where there's darkness, there's stars."
~M.M. Madeline</div>
    </div>

                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Lost </span>
        </div>
        <img src="images/lives/lost-3.png" class="life-image">
        <div class="card-footer">"Life is a maze. Only one way out!"</div>
    </div>

                
            
                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Proud </span>
        </div>
        <img src="images/lives/proud-1.png" class="life-image">
        <div class="card-footer">"I'm dealing with fools and trolls and soft targets.
I don't have time for these clowns."
~ Charles the Smiler</div>
    </div>

                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Proud </span>
        </div>
        <img src="images/lives/proud-2.png" class="life-image">
        <div class="card-footer">"Bow down or stand back—those are your options when royalty steps into the ring."
~ Lady Vanessa the Vain</div>
    </div>

                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Proud </span>
        </div>
        <img src="images/lives/proud-3.png" class="life-image">
        <div class="card-footer">"My legacy will tell of my greatness, your legacy will be that you once saw me perform."</div>
    </div>

                
            
                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Vengeful </span>
        </div>
        <img src="images/lives/vengeful-1.png" class="life-image">
        <div class="card-footer">"An eye for an eye, a tooth for a tooth,
and for every slight, a relentless pursuit."
~ Vera</div>
    </div>

                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Vengeful </span>
        </div>
        <img src="images/lives/vengeful-2.png" class="life-image">
        <div class="card-footer">"Everyone looks at the ringmaster's flaming hoop.
They forget the whip."
~The Scorpio</div>
    </div>

                
                    
    <div class="card">
        <div class="card-header">
            <span class="card-name">The Vengeful </span>
        </div>
        <img src="images/lives/vengeful-3.png" class="life-image">
        <div class="card-footer">"Never miss twice."</div>
    </div>

                
            
        </div>
    

    <h2> All 36 Cards </h2>
    <div class="cards-container">
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Betrayal</span>
        </div>
        <img src="images/betrayal-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>The gun holder fires at anyone (victim can win the casing)</p>
        </div>
        <div class="card-footer">"A pie in the face, but a knife in the back."
~ Reverend Jester Jones</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Betrayal</span>
        </div>
        <img src="images/betrayal-2.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>The gun holder fires at anyone (victim can win the casing)</p>
        </div>
        <div class="card-footer">"A pie in the face, but a knife in the back."
~ Reverend Jester Jones</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Betrayal</span>
        </div>
        <img src="images/betrayal-3.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>The gun holder fires at anyone (victim can win the casing)</p>
        </div>
        <div class="card-footer">"A pie in the face, but a knife in the back."
~ Reverend Jester Jones</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Betrayal</span>
        </div>
        <img src="images/betrayal-4.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>The gun holder fires at anyone (victim can win the casing)</p>
        </div>
        <div class="card-footer">"A pie in the face, but a knife in the back."
~ Reverend Jester Jones</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Bite Bullet</span>
        </div>
        <img src="images/bite-bullet-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Gun holder shoots themselves, but is awarded 2 casings if they lose a life</p>
        </div>
        <div class="card-footer">"You've got to eat lead to get ahead. Just make sure the bite's worth the chew."
~ "Chomper" Malone</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Bite Bullet</span>
        </div>
        <img src="images/bite-bullet-2.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Gun holder shoots themselves, but is awarded 2 casings if they lose a life</p>
        </div>
        <div class="card-footer">"You've got to eat lead to get ahead. Just make sure the bite's worth the chew."
~ "Chomper" Malone</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Clairvoyance</span>
        </div>
        <img src="images/clairvoyance-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 1 other card.</span>
            <p>Inspect another player's cards</p>
        </div>
        <div class="card-footer">"The future is in your hands."
— The All-Seeing Salvatore</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Clairvoyance</span>
        </div>
        <img src="images/clairvoyance-2.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 1 other card.</span>
            <p>Inspect another player's cards</p>
        </div>
        <div class="card-footer">"The future is in your hands."
— The All-Seeing Salvatore</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Flirt</span>
        </div>
        <img src="images/flirt-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Choose a player to discard 2 cards</p>
        </div>
        <div class="card-footer">"A wink, a smile, and oh, what's this?
You seem to have dropped something."
~ Felicity the Fanciful</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Hand Off</span>
        </div>
        <img src="images/hand-off-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Force any player to take the gun</p>
        </div>
        <div class="card-footer">"Take it, take it! I insist. After all, sharing is caring...
especially the risk."
~ Lenny the Lion Tamer</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Hand Off</span>
        </div>
        <img src="images/hand-off-2.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Force any player to take the gun</p>
        </div>
        <div class="card-footer">"Take it, take it! I insist. After all, sharing is caring...
especially the risk."
~ Lenny the Lion Tamer</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Merry Go Round</span>
        </div>
        <img src="images/merry-go-round-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Place the gun on the table and spin it. Whoever it points to is the new gun holder.</p>
        </div>
        <div class="card-footer">"Whee!"
~ Twirly Tina</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Merry Go Round</span>
        </div>
        <img src="images/merry-go-round-2.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Place the gun on the table and spin it. Whoever it points to is the new gun holder.</p>
        </div>
        <div class="card-footer">"Whee!"
~ Twirly Tina</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">One For One</span>
        </div>
        <img src="images/one-for-one-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Gun holder shoots at you. Then you choose a target for the gun holder to shoot at.</p>
        </div>
        <div class="card-footer">"What goes around comes around, often faster than you expect."
~ Petra the Quickdraw</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Pat Down</span>
        </div>
        <img src="images/pat-down-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'></span>
            <p>Inspect a players pocket rounds (just look, no pulling apart rounds)</p>
        </div>
        <div class="card-footer">"Trust is good, but checking is better.
Especially when the stakes are this high."
~ Fish Fingers</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Pick Pocket</span>
        </div>
        <img src="images/pick-pocket-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 1 other card.</span>
            <p>Choose a round from another pocket, swap it with one of your own</p>
        </div>
        <div class="card-footer">"What's yours is mine, and what's mine is... also mine.
That's the magic of misdirection."
~ Sly Simon</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Premonition</span>
        </div>
        <img src="images/premonition-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 1 other card.</span>
            <p>Inspect the gun. Take it, look it over - but do not open it. Then give it back to the gun holder</p>
        </div>
        <div class="card-footer">"Forewarned is forearmed. Especially useful when the arms in question are potentially deadly."
~ Dr. Orville</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Premonition</span>
        </div>
        <img src="images/premonition-2.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 1 other card.</span>
            <p>Inspect the gun. Take it, look it over - but do not open it. Then give it back to the gun holder</p>
        </div>
        <div class="card-footer">"Forewarned is forearmed. Especially useful when the arms in question are potentially deadly."
~ Dr. Orville</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Public Shaming</span>
        </div>
        <img src="images/public-shaming-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Target player reveals their hand to all others</p>
        </div>
        <div class="card-footer">"A little exposure keeps everyone honest, embarrassed, and entertained!"
~ Madame Blush</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Public Shaming</span>
        </div>
        <img src="images/public-shaming-2.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Target player reveals their hand to all others</p>
        </div>
        <div class="card-footer">"A little exposure keeps everyone honest, embarrassed, and entertained!"
~ Madame Blush</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Pull Harder!</span>
        </div>
        <img src="images/pull-harder-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Gun holder shoots themself (again)</p>
        </div>
        <div class="card-footer">"Second verse, same as the first.
A little bit louder and a whole lot worse."
~ Pogo, the Clown</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Pull Harder!</span>
        </div>
        <img src="images/pull-harder-2.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Gun holder shoots themself (again)</p>
        </div>
        <div class="card-footer">"Second verse, same as the first.
A little bit louder and a whole lot worse."
~ Pogo, the Clown</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Pull Harder!</span>
        </div>
        <img src="images/pull-harder-3.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Gun holder shoots themself (again)</p>
        </div>
        <div class="card-footer">"Second verse, same as the first.
A little bit louder and a whole lot worse."
~ Pogo, the Clown</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Pull Harder!</span>
        </div>
        <img src="images/pull-harder-4.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Gun holder shoots themself (again)</p>
        </div>
        <div class="card-footer">"Second verse, same as the first.
A little bit louder and a whole lot worse."
~ Pogo, the Clown</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Show, Don't Tell</span>
        </div>
        <img src="images/show-dont-tell-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 3 other cards.</span>
            <p>Take the gun, shoot yourself, then open the cylinder and rotate it how you like.</p>
        </div>
        <div class="card-footer">"I'm dealing with fools and trolls and soft targets. I don't have time for these clowns."
~ Charles the Smiler</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Silence</span>
        </div>
        <img src="images/silence-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 3 other cards.</span>
            <p>Cancel a card</p>
        </div>
        <div class="card-footer">"..."
— Marx, the Mime</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Silence</span>
        </div>
        <img src="images/silence-2.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 3 other cards.</span>
            <p>Cancel a card</p>
        </div>
        <div class="card-footer">"..."
— Marx, the Mime</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Sleight Of Hand</span>
        </div>
        <img src="images/sleight-of-hand-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Target player chooses a loaded round to swap with one from their pocket</p>
        </div>
        <div class="card-footer">"Now you see it, now you... still see it.
But trust me, it’s not where you think it is."
~ The Great Vanisho</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Sleight Of Hand</span>
        </div>
        <img src="images/sleight-of-hand-2.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Target player chooses a loaded round to swap with one from their pocket</p>
        </div>
        <div class="card-footer">"Now you see it, now you... still see it.
But trust me, it’s not where you think it is."
~ The Great Vanisho</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Spin!</span>
        </div>
        <img src="images/spin-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 1 other card.</span>
            <p>Spin the cylinder, then hand it back to the gun holder.</p>
        </div>
        <div class="card-footer">"Time to turn your luck around!"
~ Twirly Tina</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Spin!</span>
        </div>
        <img src="images/spin-2.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 1 other card.</span>
            <p>Spin the cylinder, then hand it back to the gun holder.</p>
        </div>
        <div class="card-footer">"Time to turn your luck around!"
~ Twirly Tina</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Table Shot</span>
        </div>
        <img src="images/table-shot-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Fire the gun into the table
(nobody gets the casing)</p>
        </div>
        <div class="card-footer">"One for the big man downstairs!"
— Cannonman Carl</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Table Shot</span>
        </div>
        <img src="images/table-shot-2.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Fire the gun into the table
(nobody gets the casing)</p>
        </div>
        <div class="card-footer">"One for the big man downstairs!"
— Cannonman Carl</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Vodka Shot</span>
        </div>
        <img src="images/vodka-shot-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>The next shot provides an extra casing</p>
        </div>
        <div class="card-footer">Little liquid courage to double your chances—or your regrets."
~ the Vagrant Virtuoso</div>
    </div>

            
        
            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Wrestle</span>
        </div>
        <img src="images/wrestle-1.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Gun holder shoots at you. Then you get the gun.</p>
        </div>
        <div class="card-footer">"Possession may be only half the story,
but it's 9/10ths of the law!"
— Grapple Gary, the Ground-and-Pound Clown</div>
    </div>

            
                
    <div class="card">
        <div class="card-header">
            <span class="card-name">Wrestle</span>
        </div>
        <img src="images/wrestle-2.png" class="card-image">
        <div class="card-body">
            <span class='discard-text'>Before playing, discard 2 other cards.</span>
            <p>Gun holder shoots at you. Then you get the gun.</p>
        </div>
        <div class="card-footer">"Possession may be only half the story,
but it's 9/10ths of the law!"
— Grapple Gary, the Ground-and-Pound Clown</div>
    </div>

            
        
    </div>

</body>
</html>